// Laptop Large Version: [992px; 1199px]
@media (max-width: 1199.5px) {
  .header {
    padding: 75px 100px;
  }

  // ---- title start ----
  .title {
    padding: 76px 100px;
  }

  // footer start ----
  .footer {
    padding: 48px 100px;
}
  
}
