// Mobile Version: [360px, 575px]
@media (max-width: 575.5px) {
  .header {
    padding: 48px 24px 10px 24px;
  }

  .header__close {
    display: inline-block;
    position: absolute;
    top: 56px;
    right: 30px;
    padding: 0.37px 0.87px 0.37px 0.87px;
    font-size: 25px;
    color: var(--white);
    transition: 0.3s;
  }

  .header__bars {
    display: inline-block;
    position: absolute;
    top: 48px;
    right: 24px;
    font-size: 25px;
    color: var(--white);
    transition: 0.3s;
  }

  .header__bt,
  .header__menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 255px;
    height: 100vh;
    z-index: 101;
    background-color: var(--white);
    background-image: url(../images/menuBG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bt {
    display: none;
  }

  .Abt {
    display: block;
    padding: 10px 33px;
    border: 2px solid var(--white);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: var(--white);
    border-radius: 24px;
  }

  .header__menu.show {
    opacity: 1;
    visibility: visible;
  }

  .bt {
    background: red;
  }

  .header__menu ul a {
    color: var(--white);
  }

  .header__menu ul {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  // ---- home start ----
  .home__title {
    font-size: 40px;
    line-height: 40px;
  }

  .home__subtitle {
    font-size: 15px;
    line-height: 28px;
  }

  .home {
    background-image: url(../images/mobile__home.png);
    background-position: center;
    padding: 80px 20px 230px 20px;
  }

  // ---- cards start ----

  .icons {
    padding: 64px 24px;
  }

  .icons__bin {
    max-width: 240px;
  }

  .icons__iconBox {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 327px;
  }

  .icons__word {
    align-items: center;
    gap: 8px;
  }

  .icons__box {
    display: block;
  }

  .icons__subtitle {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .icons__iconBox {
    max-width: 327px;
  }

  .icons__word p {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }

  // ---- users start ----
  .users {
    background-image: url(../images/users__mobile.png);
    padding: 140px 24px;
  }

  // ---- title start ---
  .title {
    background-image: url(../images/title__mobile.png);
    padding: 83px 24px;
  }

  .title__box {
    flex-direction: column;
    gap: 25px;
  }

  .title__word {
    text-align: center;
  }

  // ---- footer start ----
  .footer__box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 60px;
  }

  .footer__bin {
    display: none;
  }

  .footer__columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__information {
    align-items: center;
  }

  .footer__apps {
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .footer__logo,
  .footer__columns {
    gap: 24px;
  }

  .footer__location p,
  .footer__information p {
    text-align: center;
  }
}
