// Tablet Version: [576px, 767px]
@media (max-width: 767.5px) {
  .header {
    padding: 64px 40px 20px 40px;
  }

  .header__links a img {
    max-width: 127.96px;
  }

  .header__links {
    gap: 45px;
  }

  // ---- home start ----
  .home {
    background-position: right;
    padding: 100px 20px 230px 20px;
  }

  .home__bin {
    flex-direction: column;
    gap: 24px;
  }

  .home__title {
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    max-width: 390px;
  }

  .home__line {
    display: none;
  }

  .home__subtitle {
    font-size: 18px;
    text-align: center;
    max-width: 550px;
  }

  .home__box {
    max-width: 600px;
  }

  // ---- icons start ----
  .icons {
    background-image: url(../images/mobile__card.png);
  }

  .icons__title {
    font-size: 32px;
  }

  // ---- users start ----
  .users{
    background-image: url(../images/users__tabletBG.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 97px;
  }

  .user__box {
    flex-direction: column;
  }

  .user__title {
    font-size: 32px;
    line-height: 32px;
    max-width: 573px;
  }

  .user__card {
    max-width: 573px;
    padding-top: 36px;
  }
}
